<h1>Editing friend</h1>

<%= render "form", friend: @friend %>



<div>
  <%= button_to "Destroy", @friend, method: :delete, class:"btn btn-danger btn-sm"%>
  <br/>
  <%= link_to "Back to friends", friends_path, class:"btn btn-dark" %>
</div>
